mat-card {
  padding: 60px 0px;
}

mat-card-title,
mat-card-content,
mat-card-actions {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  min-width: 300px;
}

.mat-raised-button {
  min-width: 300px;
  font-size: 18px;
}

.alert-warn {
  background-color: orangered;
  color: #fff;
  opacity: 1;
  padding: 5px;
}
