<div class="parent-row space-top">
  <div class="row-player font-player bg-player">
    {{currentGame.playerName}}
  </div>
  <div class="row-computer bg-computer">
    <div class="computer">
      <mat-icon style="transform: scale(2);">android</mat-icon>
    </div>
  </div>
</div>

<div class="parent-row">
  <div class="row-player bg-player-score score-player">
    {{currentGame.playerScore}}
  </div>
  <div class="row-computer score-computer">
    {{currentGame.computerScore}}
  </div>
</div>

<div class="parent-row">
  <div class="row-player bg-tools">
    <div class="tools-player">
      <div *ngFor="let image of imagesList" class="game_img">
        <div matRipple [matRippleUnbounded]="true" [matRippleRadius]="60" [matRippleCentered]="true" *ngIf="image.show">
          <img src={{image.url}} (click)="selectObject(image.name)" style="cursor:pointer">&nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="row-computer bg-computer-choice">
    <div matRipple [matRippleUnbounded]="true" [matRippleRadius]="60" [matRippleCentered]="true" class="game_img" *ngIf="computerChoice.show">
      <img src="{{computerChoice.url}}" style="cursor:pointer">
    </div>
  </div>
</div>


<button mat-fab (click)="restartNewGame()" class="button-back-bottom">
  <mat-icon>arrow_back</mat-icon>
</button>
