
mat-card-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mat-card-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button-back-bottom {
    position: fixed;
    z-index: 10;
    left: 16px;
    bottom: 16px;
  }
  
.game_img {
    display: flex;
    justify-content: center;
    flex : 0 1 auto;
    padding: 70px 40px 40px 40px;
} 

