.parent-row {
  display: flex;
}

.row-player {
  flex: 3;
  padding: 20px;
  margin: 2px;
}

.row-computer {
  flex: 1;
  padding: 20px;
  margin: 2px;
}

.score-row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tools-player {
  display: flex;
  justify-content: center;
}

.game_img {
  flex: 1;
}

.computer {
  padding: 10px;
}

.font-player {
  font-size: 40px;
  color: white;
  /* font-weight: bold; */
  letter-spacing: 3px;
}

.score-player {
  font-size: 80px;
  color: white;
}

.score-computer {
  font-size: 80px;
  border: 1px solid lightgrey;
}

.space-top {
  margin-top: 35px;
}

.mat-fab.mat-accent {
  background-color: #ff0266;
}

.bg-player {
  background-color: #ff0266;
}

.bg-computer {
  background-color: #FBC02D;
}

.bg-player-score {
  background-color: #0336ff;
}

.bg-tools {
  background-color: lightgrey;
}

.bg-computer-choice {
  background-color: #ffde03;
}

.button-back-bottom {
  position: fixed;
  z-index: 10;
  left: 16px;
  bottom: 16px;
}
