
.container {
    margin-bottom: 40px;
}

/*
.test_parent {
    display: flex;
    justify-content: center;
}

.test-fils {
    text-align: center;
    max-width: 300px;
}

.sub-parent {
    display: flex;
    flex-direction: row;
}

.f1 {
    flex:2;
    background-color: green;
}
.f2 {
    flex:1;
    background-color: blue;
}
.f3 {
    flex:2;
    background-color: red;
}
.f4 {
    flex:1;
    background-color: orange;
}

.ff1 {
    flex:1;
    background-color: orangered;
}
.ff2 {
    flex:1;
    background-color:orchid;
} 
*/