<div class="ranking-parent">
  <div class="mat-elevation-z8 ranking-child">
    <mat-table [dataSource]="listPlayers" matSort  matSortActive="rate" matSortDirection="desc">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'style-current-player':  element.name === tCurrentGame.playerName}">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Score (%)</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'style-current-player':  element.name === tCurrentGame.playerName}">
          <mat-chip>{{element.rate}}</mat-chip>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>


<button mat-fab [routerLink]="['/game']" class="button-back-bottom">
  <mat-icon>arrow_back</mat-icon>
</button>
